@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Courier Prime';
  src: url('./fonts/CourierPrime-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./imgs/john-fowler-RsRTIofe0HE-unsplash.jpg') no-repeat fixed center center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide {
  display: none;
}

.app-header__title {
  margin: 5vh 0;
  color: #34575d;
  text-align: center;
}

.app-header__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 20px;
}

.add-new,
.clear-notes,
.search {
  margin: 10px;
  padding: 5px 8px;
  font-family: 'Montserrat', sans-serif;
}

.add-new,
.clear-notes {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: #4b7d85;
  color: #ffffff;
}

.add-new:hover,
.clear-notes:hover,
.controls-button:hover {
  background-color: #34575d;
}

.search {
  flex-grow: 1;
  max-width: 300px;
  border: 1px solid #4b7d85;
  border-radius: 5px;
}

.doc-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

input,
textarea {
  outline: none;
  resize: none;
  border: none;
}

input {
  font-family: 'Montserrat', sans-serif;
}

textarea {
  font-family: 'Courier Prime', monospace;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

.notes-list-item {
  /*padding: 0;*/
  list-style-type: none;
}

.note {
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  border: thin solid #4b7d85;
  border-radius: 5px;
}

[placeholder] {
  color: #888888;
}

input:focus::placeholder {
  color: transparent;
}

[value] {
  color: #000000;
}

.note-title, .note-content {
  width: 100%;
  border: none;
  outline: none;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.note-title {
  font-size: 18px;
}

.note-content {
  flex-grow: 1;
}

.note-content:focus {
  box-shadow: none;
  outline: none;
}

.note-content {
  box-sizing: border-box;
  resize: none;
  padding: 25px 0 0 0;
}

.delete-note {
  position: absolute;
  top: -5px;
  right: 0px;
  font-size: 18px;
  padding: 5px;
  color: #666666;
}

.delete-note:hover {
  cursor: pointer;
  color: #000000;
}



/* MEDIA QUERIES */

@media (min-width: 768px) and (max-width: 1199px) {
  .doc-controls {
    flex-flow: row nowrap;
  }
}


@media (min-width: 1200px) {
  .doc-controls {
    flex-flow: row nowrap;
  }
  
  main {
    width: 75%;
    margin: 0 auto;
  }
}
