body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide {
  display: none;
}

.app-header__title {
  margin: 5px 0;
  text-align: center;
}

.app-header__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 20px;
}

.add-new,
.clear-docs,
.search {
  margin: 10px;
  padding: 5px 8px;
}

.add-new,
.clear-docs {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: #4b7d85;
  color: #ffffff;
}

.add-new:hover,
.clear-docs:hover,
.controls-button:hover {
  background-color: #34575d;
}

.search {
  flex-grow: 1;
  max-width: 300px;
  border: 1px solid #4b7d85;
  border-radius: 5px;
}

.doc-controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.controls-section button {
  margin: 0 5px;
  width: 25px;
  height: 25px;
  border-radius: 2.5px;
}

.style-button,
.controls-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4b7d85;
  color: #ffffff;
}
.controls-button {
  padding: 1px;
}

.resize {
  width: 23px;
  height: 23px;
}

.underline {
  text-decoration: underline;
}

.crossed-out {
  text-decoration: line-through;
}

input,
textarea {
  outline: none;
  resize: none;
  border: none;
}

.docs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

.docs-list-item {
  /*padding: 0;*/
  list-style-type: none;
}

.doc {
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  border: thin solid #4b7d85;
  border-radius: 5px;
}

.doc-title, .doc-content {
  width: 100%;
  border: none;
  outline: none;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.doc-title {
  font-size: 18px;
}

.doc-content {
  flex-grow: 1;
}

.doc-content:focus {
  box-shadow: none;
  outline: none;
}

.doc-content {
  box-sizing: border-box;
  resize: none;
  padding: 25px 0 0 0;
}

.delete-note {
  position: absolute;
  top: -5px;
  right: 0px;
  font-size: 18px;
  padding: 5px;
  color: #666666;
}

.delete-note:hover {
  cursor: pointer;
  color: #000000;
}
